@model IEnumerable<VirtMVC.Models.mvcCurrency>

@{
    ViewBag.Title = "Real";
}

<h2>Real</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Price2Buy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price2Sell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Price2Buy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price2Sell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdate)
        </td>
    </tr>
}

</table>
